.nav-bar__wrapper {
    max-width: 240px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px;
}

.staff__img {
    width: 100px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.staff__name {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #F6F6F6;
}

/* ------------------ */


/*--------- акордіон в моб версії--------------*/

.tech__char__accor__block {
    position: relative;
    margin-bottom: 1px;
    color: #fff;
    overflow: hidden;
}

.tech__char__accor__block input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.char__accor__content__wrapper {
    max-height: 100vh;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.char__accor__content__row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    color: red;
}

.char__accor__content__row:hover .accor__block-name {
    color: #000;
}

.char__accor__content__row:hover {
    background-color: #D1FFD6;
}

.char__accor__content__row.active {
    background-color: #D1FFD6;
}

.char__accor__content__row-exit {
    border-top: 1px solid #F6F6F6;
    margin-top: 100px;
    padding-top: 20px;
}

.char__accor__content__row-exit:hover {
    background-color: transparent;
}

.accor-img {
    margin-right: 10px;
}

.char__accor__content__row-exit:hover>.accor__block-name {
    color: #000;
}

.char__accor__content__row.active .accor__block-name {
    color: #000;
}

.accor__content__name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}

.accor__content__value {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

/* :checked */
.tech__char__accor__block input:checked~.char__accor__content__wrapper {
    max-height: 100vh;
}

.tech__char__accor__block label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 2px;

}

.tech__char__accor__block label.active {
    background-color: #D1FFD6;
}

.tech__char__accor__block label.active .accor__block-name {
    color: #000;
}

.tech__char__accor__block label:hover>.accor__block-name {
    color: #000;
}

.tech__char__accor__block label:hover {
    background-color: #D1FFD6;

}

.accor__block-name {
    color: #9C9C9C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.accor__block-name:hover {
    color: #000000;
}

.accor__block-name.documentation {
    color: #181716;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}

.tech__char__accor__block.doc label {
    background-color: transparent;

}

.tech__char__accor__block.doc label:hover {
    background-color: transparent;

}

.tech__char__accor__block label>span {
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.tech__char__accor__block label::after {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    display: none;
}

.tech__char__accor__block input[type=checkbox]+label::after {
    content: "";
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    right: 5px;
    top: 20%;
    background-size: contain;
    transform: rotate(360deg);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3IDEwTDEyIDE1TDcgMTAiIHN0cm9rZT0iIzMzMzMzMyIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
}

.tech__char__accor__block input[type=checkbox]:checked+label::after {
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3IDEwTDEyIDE1TDcgMTAiIHN0cm9rZT0iIzMzMzMzMyIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
    top: 20%;
    right: 5px;
    /* transform: translate(-50%, -50%); */
    transform: rotate(180deg);
}

@media (max-width: 991px) {}

@media (max-width: 768px) {
    .char__accor__content__wrapper {
        max-height: 0;
    }

    .tech__char__accor__block input:checked~.char__accor__content__wrapper {
        max-height: 100vh;
    }

    .tech__char__accor__block label::after {
        display: block;
    }

    .tech__char__accor__block label>span {
        font-size: 16px;
    }

}

/*----END----- акордіон в моб версії--------------*/


/* центральний контент */
.main__content_container {
    display: flex;
    align-items: flex-start;

}

.main__unit__wrapper {
    width: 100%;
    margin-left: 20px;
}

.main__unit__container {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 20px;
    row-gap: 20px;
}

.main__unit__right {
    width: 100%;
}

.main__unit__box {
    background-color: #ffff;
    padding: 20px;
    margin-bottom: 20px;
}

.main__unit-title {
    color: #181716;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}

.main__unit__box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-top: 30px;
}

.main__unit__title__row {
    margin-top: 30px;
}

.main__unit__title__row.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F6F6F6;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}


.main__unit__title__row.flex>.main__unit__title-text {
    margin-bottom: 0;
}

.main__unit__title-text {
    color: #9C9C9C;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}

.main__unit-text {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.main__unit__box-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.main__unit__box-flex-box {
    display: flex;
    align-items: center;
}

.main__unit-btn {
    border: 1px solid #9C9C9C;
    border-radius: 2px;
    padding: 3px;
    color: #9C9C9C;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
    width: 80px;
    text-align: center;
}

.main__unit-btn:hover {
    border: 1px solid #E40C25;
    background-color: #E40C25;
    color: #fff;
}

.main__unit__box__work__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F6F6F6;
    padding-bottom: 10px;
}

.main__unit__box__work__box {
    display: flex;
    flex-direction: column;
}

.work__title {
    color: #9C9C9C;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}

.work__title-text {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}

.work__title__header {
    color: #9C9C9C;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
}

.work__title {
    display: none;
}

.tech__char__accor__block {}

.doc {}

.accor__block-name {}

.documentation {}

.char__accor__content__wrapper {}

.tech__char__accor__doc__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 10px;
}

.accor__doc-item {
    border-radius: 2px;
    border: 1px solid #9C9C9C;
    color: #9c9c9c;
    display: flex;
    padding: 10px;
    align-items: center;
}

.accor__doc-item-name {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-right: 10px;
}

.main__unit__top__title__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* ----Мої звернення ----- */
.main__unit__box {}

.my__appeals__mail__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mail__header-title {
    color: #181716;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.mail__header__counter__wrapper {
    display: flex;
    align-items: center;
}

.mail__header__counter__box {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.mail__counter-title {
    color: #181716;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-right: 10px;
}

.mail__counter {
    width: 20px;
    height: 20px;
    color: #000000;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    font-style: normal;
    font-weight: 400;
    background-color: #9C9C9C;
    align-items: center;
    justify-content: center;
    line-height: 23px;
}


.mail__counter.red {
    color: #ffff;
    background-color: #E40C25;
}

.mail__counter.pink {
    background-color: #FFB3B3;
}

.mail__counter.blue {
    background-color: #CCEBFF;
}

.mail__counter.green {
    background-color: #D9FFCC;
}

.mail__counter.yellow {
    background-color: #FFF2CC;
}

/* --END--Мої звернення ----- */

@media (max-width: 991px) {
    .main__unit__container {
        grid-template-columns: 100%;
    }

    .work__title {
        display: block;
        margin-top: 15px;
    }
}

@media (max-width: 768px) {
    .main__content_container {
        flex-direction: column;
        align-items: flex-start;
    }

    .staff__img__wrapper {
        display: none;
    }

    .nav-bar__wrapper {
        max-width: 100%;
        width: 100%;
    }

    .main__unit__wrapper {
        margin-left: 0;
    }

    .main__unit__title__row.flex {
        align-items: flex-start;
        flex-direction: column;
    }

    .main__unit__box__work__wrapper {
        flex-wrap: wrap;
    }
}

/* END центральний контент */